.chat-window {
   width: 350px;
   height: 90vh;
   background-color: #1e1e1e;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   padding: 10px;
}

.chat-header {
   background-color: #333;
   color: #fff;
   padding: 10px;
   text-align: center;
   font-size: 18px;
}

.chat-body {
   padding: 10px;
   height: 75vh;
   overflow-y: auto;
   color: #fff;
}

.message {
   margin: 5px 0;
   padding: 10px;
   border-radius: 5px;
   background-color: #444;
   text-align: left;

   .message-header {
      display: flex;

      .user-name {
         font-size: 12px;
         color: rgb(169, 169, 169);
      }

      .btn-close {
         position: relative;
         bottom: 10px;
         left: 5px;
         --bs-btn-close-focus-shadow: none;
      }
   }

   .vote-buttons {
      gap: 8px;
      display: flex;
      height: fit-content;

      .btn {
         display: flex;
         color: white !important;
         gap: 8px;
         padding: 0;
      }

      .bi-hand-thumbs-up-fill {
         color: #00ff62;
         filter: drop-shadow(0px 1px 1px black);
      }

      .bi-hand-thumbs-down-fill {
         color: #bababa;
         filter: drop-shadow(0px 1px 1px black);
      }
   }

}

.chat-footer {
   display: flex;
   padding: 10px;
   background-color: #333;
}

.chat-footer input {
   flex: 1;
   padding: 10px;
   border: none;
   border-radius: 5px;
   margin-right: 10px;
}

.chat-footer button {
   padding: 10px;
   background-color: #007bff;
   border: none;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
}

.with-send-chat {
   height: 68vh !important;
}